@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria.eot');
  src: local('Geometria'),
  url('../fonts/geometria/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geometria/Geometria.woff') format('woff'),
  url('../fonts/geometria/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('../fonts/geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geometria/Geometria-Bold.woff') format('woff'),
  url('../fonts/geometria/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-ExtraBold.eot');
  src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
  url('../fonts/geometria/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geometria/Geometria-ExtraBold.woff') format('woff'),
  url('../fonts/geometria/Geometria-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-Light.eot');
  src: local('Geometria Light'), local('Geometria-Light'),
  url('../fonts/geometria/Geometria-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geometria/Geometria-Light.woff') format('woff'),
  url('../fonts/geometria/Geometria-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@mixin background() {
  background: linear-gradient(to right, #37a8ff, #4747ff);
}
html {
  margin:0;
  padding: 0;
  font-size: 16px;
}
body {
  margin:0;
  padding: 0;
  font-size: 16px;
  #navigate {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h5 {
      font: bold 1.2rem 'Geometria', sans-serif;
      display: inline-block;
      margin: 0;
    }
    ul {
      display: inline-block;
      padding: 0;
      margin: 0;
      right: 0;
      li {
        display: inline-block;
        position: relative;
        transition: all .2s ease;
        &[data-class="open-li"]{
          right: 0;
          transition: all .2s ease;
        }
        a {
          text-decoration: none;
          color: black;
          font: normal 1em 'Geometria', sans-serif;
          padding: 10px;
          margin: 10px;
          display: inline-block;
        }
      }
      &.menu-opened {
        & + .hamburger {
          .hamburger-center-line {
            display: none;
          }
          &:before, &:after {
            width: 129%;
          }
          &:before {
            transform: rotate(45deg);
            transform-origin: 0 0;
          }
          &:after {
            transform: rotate(-45deg);
            transform-origin: 0 100%;
          }
        }
      }
      @media all and (max-width: 1199px) {
        //float: right;
        clear: both;
        display: none;
        width:250px;
        position: absolute;
        top: 100px;
        right: 0;
        li {
          color: white;
          display: block;
          right: -100%;
          a {
            box-sizing: border-box;
            border: 2px solid white;
            border-right: none;
            border-radius: 24px 0 0 24px;
            color: white;
            @include background();
            display: block;
            margin: 10px 0;
            text-align: center;
          }
        }
      }
      @media all and (min-width: 1200px) {
        display: inline-block !important;
        li {
          right: 0 !important;
        }
      }
    }
    .hamburger {
      position: relative;
      margin: 35px;
      height: 30px;
      width: 30px;
      float: right;
      cursor: pointer;
      .hamburger-center-line {
        height: 4px;
        width: 100%;
        background: #333333;
        position: absolute;
        top: 50%;
        margin-top: -2px;
      }
      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        height: 4px;
        width: 100%;
        background: #333333;
        transition: all .2s linear;

      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
      @media all and (min-width: 1200px) {
        display: none;
      }
    }
    @media all and (max-width: 1199px) {
      display: block;
      h5 {
        vertical-align: middle;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  #about_us {
    background: url("../img/bg1.jpg") center top;
    background-size: cover;
    min-height: 771px;
    display: flex;
    .text_inner {
      margin: auto;
      color: white;
      text-align: center;
      max-width: 900px;
      padding: 30px 0;

      h1 {
        font: 800 2.1rem 'Geometria', sans-serif;
        text-transform: uppercase;
        margin-bottom: 60px;
      }
      p {
        font: 300 1rem 'Geometria', sans-serif;
        margin-bottom: 70px;
      }
      a {
        font: normal 1rem 'Geometria', sans-serif;
        color: white;
        display: inline-block;
        margin: 0 auto;
        background: #e2225e;
        box-sizing: border-box;
        line-height: 60px;
        height: 60px;
        padding: 0 70px;
        border-radius: 30px;
        text-decoration: none;
      }
    }
  }
  #analyse {
    min-height: 800px;
    background: url("../img/bg2.jpg") no-repeat;
    background-size: cover;
    display: flex;
    .content-box {
      max-width: 1170px;
      margin: auto;
      background: url("../img/Layer-1.png") no-repeat left center;
      .content-inner {
        h2 {
          font: bold 1.56rem 'Geometria', sans-serif;
          text-align: left;
          margin-bottom: 46px;
        }
        .submit-card {
          background: white;
          border-radius: 30px;
          padding: 70px;
          text-align: center;
          box-shadow: 0 10px 30px 0 #2e77cc;
          h2 {
            font: 800 1.56rem 'Geometria', sans-serif;
            margin-bottom: 30px;
          }
          p {
            font: normal 1rem 'Geometria', sans-serif;
            margin-bottom: 60px;
          }
          #call {
            .phone, .submit-phone {
              width: 390px;
              height: 74px;
              border-radius: 37px;
              display: block;
              box-sizing: border-box;
            }
            .phone {
              background: #efefef;
              margin-bottom: 26px;
              &::-webkit-input-placeholder {
                font: normal 1.2rem 'Geometria', sans-serif;
              line-height: 74px;
                color: #919191;}
              &::-moz-placeholder          {
                font: normal 1.2rem 'Geometria', sans-serif;
              line-height: 74px;
                color: #919191;}/* Firefox 19+ */
              &:-moz-placeholder           {
                font: normal 1.2rem 'Geometria', sans-serif;
              line-height: 74px;
                color: #919191;}/* Firefox 18- */
              &:-ms-input-placeholder      {
                font: normal 1.2rem 'Geometria', sans-serif;
              line-height: 74px;
                color: #919191;}
            }
            }
            .submit-phone {
              background: #fb2468;
              &::-webkit-input-placeholder {
                font: bold 1.1rem 'Geometria', sans-serif;
              line-height: 74px;
              color: white;}
              &::-moz-placeholder          {
                font: bold 1.1rem 'Geometria', sans-serif;
              line-height: 74px;
              color: white;}/* Firefox 19+ */
              &:-moz-placeholder           {
                font: bold 1.1rem 'Geometria', sans-serif;
              line-height: 74px;
              color: white;}/* Firefox 18- */
              &:-ms-input-placeholder      {
                font: bold 1.1rem 'Geometria', sans-serif;
              line-height: 74px;
              color: white;}
            }
          }
        }

      }
    }
  }
}